{% extends 'base/base.html' %}
{% load static %}
{% block title %}Event Calendar{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block breadcrumb %}
  <div>
      <h1><i class="fa fa-calendar"></i> Calendar</h1>
      <p>Event Calendar</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Calendar</a></li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3">
                <div id="external-events">
                    <h4 class="mb-4">Running Events</h4>
                    {% for event in events_month %}
                      <div class="fc-event">
                          <h3>{{ event.title }}</h3>
                          <p>{{ event.description }}</p>
                          <p>{{event.id}}</p>
                          <p>From: {{ event.start_time }}</p>
                          <p>To: {{ event.end_time }}</p>
                      </div>
                    {% empty %}
                      <p>No Running Events Found</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <div id="calendar"></div>
            </div>

            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="exampleModalLongTitle">Add New Event</h5>
                            <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Event Title:</label>
                                    {{ form.title }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Description:</label>
                                    {{ form.description }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Start Date:</label>
                                    {{ form.start_time }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">End Date:</label>
                                    {{ form.end_time }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="modalClose2" type="button" class="btn btn-danger">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade show" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header bg-primary">
                          <h5 class="modal-title text-white" id="title_event_detail"></h5>
                          <button id="modalDetailClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <form method="">
                          {% csrf_token %}
                          <div class="modal-body">
                              
                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">Description:</label>
                                  <p id = "description_event_detail">

                                  </p>
                              </div>
                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">Start:</label>
                                  <p id = "start_event_detail">
                              </div>
                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">End:</label>
                                  <p id = "end_event_detail">
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button id="delete-event-button" data-event-id="" type="button" class="btn btn-danger">Delete</button>
                              <button id="add-to-next-week" data-event-id-week="" type="button" class="btn btn-success">Next Week</button>
                              <button id="add-to-next-day" data-event-id-day="" type="button" class="btn btn-primary">Next Day</button>

                          </div>
                      </form>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block extrascripts %}
<script src="{% static 'calender/main.js' %}"></script>
<script>
  function converterDataParaDjangoFormat(data) {
      const dataJS = new Date(data);
      const ano = dataJS.getFullYear();
      const mes = (dataJS.getMonth() + 1).toString().padStart(2, '0');
      const dia = dataJS.getDate().toString().padStart(2, '0');
      const hora = dataJS.getHours().toString().padStart(2, '0');
      const minuto = dataJS.getMinutes().toString().padStart(2, '0');
      const segundo = dataJS.getSeconds().toString().padStart(2, '0');
      const formatoDjango = `${ano}-${mes}-${dia} ${hora}:${minuto}:${segundo}`;
      return formatoDjango;
  }
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var today = new Date();

      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
        },
        initialDate: today,
        navLinks: true, // can click day/week names to navigate views
        selectable: true,
        selectMirror: true,
        select: function(arg) {
          console.log('clicked')
          console.log(arg.start)
          console.log(arg.end)
          var modal = document.getElementById('eventModal')
          modal.style.display = 'block'
          document.getElementById('id_start_time').value = converterDataParaDjangoFormat(arg.start);
          document.getElementById('id_end_time').value = converterDataParaDjangoFormat(arg.end);
          calendar.unselect()
        },
        
        // THIS KEY WON'T WORK IN PRODUCTION!!!
        // To make your own Google API key, follow the directions here:
        // http://fullcalendar.io/docs/google_calendar/
        // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',

        // bangladesh Holidays
        // events: 'bn.bd#holiday@group.v.calendar.google.com',
        eventClick: function(arg) {
          
          console.log('clicked')
          var title = arg.event.title;
          var start = formatDateTime(arg.event.start) ;
          var end = formatDateTime(arg.event.end);
          var description = arg.event.extendedProps.description || '';
          var id = arg.event.id;

          var modalInputEnd = document.getElementById('end_event_detail'); 

          var modal = document.getElementById('detailModal')
          var modalTitle = document.getElementById('title_event_detail'); 
          var modalStart = document.getElementById('start_event_detail'); 
          var modalEnd = document.getElementById('end_event_detail'); 
          var modalDescripition = document.getElementById('description_event_detail'); 
          var deleteButton = document.getElementById("delete-event-button");
          var nextWeek = document.getElementById("add-to-next-week");
          var nextDay = document.getElementById("add-to-next-day");

          deleteButton.setAttribute("data-event-id", id);
          nextWeek.setAttribute("data-event-id-week", id);
          nextDay.setAttribute("data-event-id-day", id);
          modal.style.display = 'block' 
          
          modalTitle.textContent = title;
          modalStart.textContent = start;
          modalEnd.textContent = end;
          modalDescripition.textContent = description;
          
         
          modal.style.display = 'block';
        },
        editable: true,
        dayMaxEvents: true, // allow "more" link when too many events
        events: {{ events|safe }},
        // events: [
        //   {
        //     title: 'All Day Event',
        //     start: '2021-06-26'
        //   },
        //   {
        //     groupId: 999,
        //     title: 'Repeating Event',
        //     start: '2020-09-16T16:00:00'
        //   },
        //   {
        //     title: 'Conference',
        //     start: '2020-09-11',
        //     end: '2020-09-13'
        //   },
        //   {
        //     title: 'Click for Google',
        //     url: 'http://google.com/',
        //     start: '2020-09-28'
        //   }
        // ]
      });

      calendar.render();
    });
    const closeBtn1 = document.getElementById('modalClose1');
    const closeBtn2 = document.getElementById('modalClose2');
    const closeBtn3 = document.getElementById('modalDetailClose');
    closeBtn1.addEventListener('click',()=>{
      const eventModal = document.getElementById('eventModal')
      eventModal.style.display = 'none';
    });
    closeBtn2.addEventListener('click',()=>{
      const eventModal = document.getElementById('eventModal')
      eventModal.style.display = 'none';
    });
    closeBtn3.addEventListener('click',()=>{
      const eventModal = document.getElementById('detailModal')
      eventModal.style.display = 'none';
    });
    function formatDateTime(dateTime) {
      const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZoneName: 'short' };
      const dataFormatada = new Date(dateTime).toLocaleDateString('en-US', options);
      return dataFormatada;
    };
    document.getElementById('delete-event-button').addEventListener('click', function() {
      const eventId = this.getAttribute('data-event-id');
      if (confirm('Are you sure you want to delete this event?')) {
          $.ajax({
              url: `/delete_event/${eventId}/`,
              type: 'POST',
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}',
              },
              success: function(response) {
                  alert(response.message);
                  window.location.reload();
              },
              error: function(xhr, status, error) {
                  alert('Error!');
              }
          
          });
      }});
      
      document.getElementById('add-to-next-week').addEventListener('click', function() {
          const eventId = this.getAttribute('data-event-id-week');
          if (confirm('Are you sure you want add this event to next week?')) {
              $.ajax({
                url: `/next_week/${eventId}/`,
                  type: 'POST',
                  data: {
                      csrfmiddlewaretoken: '{{ csrf_token }}',
                  },
                  success: function(response) {
                      alert(response.message);
                      window.location.reload();
                  },
                  error: function(xhr, status, error) {
                      alert('Error!');
                  }
              });
          }
  });

  document.getElementById('add-to-next-day').addEventListener('click', function() {
    const eventId = this.getAttribute('data-event-id-day');
    if (confirm('Are you sure you want add this event to next day?')) {
        $.ajax({
          url: `/next_day/${eventId}/`,
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(response) {
                alert(response.message);
                window.location.reload();
            },
            error: function(xhr, status, error) {
                alert('Error!');
            }
        });
    }
});

</script>
{% endblock extrascripts %}

